.buttons{


  .btn-blueviolent{
    color: white;
    background-color: blueviolet;
    margin-right: 2rem;
    font-size: 1.5rem;
  }

  .btn-outlined{
    color: white;
    border: 2px solid blueviolet;
    font-size: 1.5rem;

  }
}